<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.email.mapper.EmailTemplateParamMapper">

    <delete id="deleteParamsByTemplateId">
        DELETE FROM bus_email_template_param WHERE template_id=#{templateId}

    </delete>
</mapper>
