<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.out_buy_low.mapper.OutBuyQprApproveMapper">

    <select id="page" resultType="org.springblade.modules.out_buy_low.bean.vo.OutBuyQprApproveVO">
        select * from (
            SELECT
                qpr.id,
                qpr.type,
                qpr.code,
                qpr.title,
                qpr.apparatus_type,
                qpr.designation,
                qpr.duty_dept,
                qpr.bpm_node,
                qpr.create_dept,
                process.bpm_id,
                process.bpm_status AS process_bpm_status,
                process.bpm_push_status,
                process.create_time AS start_time,
                process.end_time AS end_time,
                process.access_dept,
                process.access_role,
                process.operator_user,
                process.operator_time,
                process.bpm_flag,
                process.bpm_remark,
                process.put_of_remark,
                0 as resource_type
            FROM bus_out_buy_qpr qpr
            LEFT JOIN bpm_process process
            ON process.bus_id = qpr.id
            union
            SELECT
                low.id,
                low.type,
                low.code,
                low.title,
                low.apparatus_type,
                low.designation,
                low.duty_dept,
                low.bpm_node,
                low.create_dept,
                process.bpm_id,
                process.bpm_status AS process_bpm_status,
                process.bpm_push_status,
                process.create_time AS start_time,
                process.end_time AS end_time,
                process.access_dept,
                process.access_role,
                process.operator_user,
                process.operator_time,
                process.bpm_flag,
                process.bpm_remark,
                process.put_of_remark,
                1 as resource_type
            FROM bus_process_low low
            LEFT JOIN bpm_process process
            ON process.bus_id = low.id
            where low.is_hide_approve = 0
        ) as temp
        <where>
            <if test="vo.searchKey != null and vo.searchKey != ''">
                and (
                temp.title like CONCAT("%", #{vo.searchKey}, "%")
                or temp.code like CONCAT("%", #{vo.searchKey}, "%")
                )
            </if>
            <if test="vo.tagFlag == 0">
                and temp.process_bpm_status = 2 and (temp.access_dept like CONCAT('%', #{vo.deptId}, '%') or temp.access_dept = 0) and (temp.access_role like CONCAT('%', #{vo.roleId}, '%') or temp.access_role = 0)
            </if>

            <if test="vo.tagFlag == 1">
                and (temp.process_bpm_status = 3 or temp.process_bpm_status = 4)
                and temp.operator_user = #{vo.userId}
                and temp.access_dept != -1 and temp.access_role != -1
            </if>
            <if test="vo.tagFlag == 2">
                and temp.bpm_push_status = 1 and temp.create_dept = #{vo.deptId}
            </if>
        </where>
    </select>
</mapper>
